#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.comment-card{
  max-width: 500px;
  margin: 1rem auto;
  padding: 1rem;
}

.post-comment-form{
  display: flex;
  flex-direction: column;
  max-width: 500%;
}

.post-comment{
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-comment-button{
  display: flex;
  align-items: center;
  max-width: 150px;
}

.delete-comment-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-filter-button{
  margin-left: 1rem;
  padding: 0.3rem 0.3rem;
  max-width: 150px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b3e1cb;
  color: rgb(255, 255, 255);
  padding: 1.2rem 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.article-card:hover {
  background-color: #b3e1cb;;
}

.single-article{
  max-width: 1000px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
}

.single-article p {
  line-height: 2.0;
  color: #0a0a0a;
}


